<div class="flex items-start gap-2.5 justify-end animate-slideInUp">
  <div
    class="flex flex-col w-full max-w-[340px] leading-1.5 px-4 py-2 border-neutral-200 dark:border-neutral-700 bg-neutral-200 dark:bg-neutral-800 rounded-s-xl rounded-ee-xl">
    <div class="flex items-center space-x-2 rtl:space-x-reverse justify-end">
      <span class="text-sm font-semibold text-black dark:text-white">Tú</span>
      <span class="text-xs font-normal text-neutral-500 dark:text-neutral-400">{{ timeStr() }}</span>
    </div>
    <p class="text-sm font-normal py-2.5 text-black dark:text-white">{{ text() }}</p>
    <!-- <span class="text-xs font-normal text-neutral-500 text-left">Enviado</span> -->
  </div>
  <div class="min-w-10 min-h-10 w-10 h-10 rounded-full bg-neutral-100 dark:bg-neutral-800 flex items-center justify-center text-neutral-600 dark:text-neutral-400">
    <span class="icon-[lucide--user] text-lg"></span>
  </div>
</div>