<div class="flex items-center gap-2 mb-6">
  <img src="assets/images/logos/LogoTerniumColor.png" alt="Logo Ternium" class="w-auto h-10">
</div>

<div class="flex flex-col gap-1 my-4 space-y-1">
  <nav class="space-y-1">

    <!-- PRINCIPAL -->
    <h6 class="text-neutral-500 dark:text-neutral-400 text-xs font-semibold uppercase tracking-wider px-3 mb-2">
      Principal
    </h6>

    <!-- f
    <a [routerLink]="'/main/dashboard'" routerLinkActive="bg-white text-neutral-900 dark:bg-neutral-700 dark:text-white"
      [routerLinkActiveOptions]="{ exact: true }"
      class="group flex items-center gap-3 px-3 py-2 rounded-full text-neutral-600 dark:text-neutral-300 hover:bg-white dark:hover:bg-neutral-700 transition-colors">
      <span class="ph ph-house text-lg"></span>
      <span class="text-sm font-medium">Dashboard</span>
    </a> -->

    <!-- DOCUMENTOS (EXPANDIBLE) -->
  <div class="sidebar-group">
  <button type="button" (click)="toggle(documentsGroup.id)"
    class="w-full flex items-center gap-3 px-3 py-2 rounded-full text-neutral-600 dark:text-neutral-300 hover:bg-white dark:hover:bg-neutral-700 transition-colors">
    
    <span class="ph ph-files text-lg"></span>
    <span class="text-sm font-medium flex-1 text-left">Documentos</span>
    
    <span class="ph ph-caret-down text-sm transition-transform"
      [class.rotate-180]="isOpen(documentsGroup)">
    </span>
  </button>

  <div class="ml-4 mt-1 pl-3 border-l border-neutral-200 dark:border-neutral-700 space-y-1"
    [class.hidden]="!isOpen(documentsGroup)">
<a [routerLink]="'/documents'"
  [queryParams]="{ type: 'SOC' }"
  routerLinkActive="bg-white dark:bg-neutral-700 text-neutral-900 dark:text-white"
  class="flex items-center gap-2 px-2.5 py-2 rounded-lg text-neutral-600 dark:text-neutral-300 hover:bg-white dark:hover:bg-neutral-700 transition-colors text-sm">
  SOC
</a>
<a [routerLink]="'/documents'"
   [queryParams]="{ type: 'ASN' }"
   routerLinkActive="bg-white dark:bg-neutral-700 text-neutral-900 dark:text-white"
   class="flex items-center gap-2 px-2.5 py-2 rounded-lg text-neutral-600 dark:text-neutral-300 hover:bg-white dark:hover:bg-neutral-700 transition-colors text-sm">
  ASN
</a>
<a [routerLink]="'/documents'"
   [queryParams]="{ type: 'ACC' }"
   routerLinkActive="bg-white dark:bg-neutral-700 text-neutral-900 dark:text-white"
   class="flex items-center gap-2 px-2.5 py-2 rounded-lg text-neutral-600 dark:text-neutral-300 hover:bg-white dark:hover:bg-neutral-700 transition-colors text-sm">
  Certificados de Calidad
</a>
<!-- <a [routerLink]="'/documents'"
   [queryParams]="{ type: 'DR' }"
   routerLinkActive="bg-white dark:bg-neutral-700 text-neutral-900 dark:text-white"
   class="flex items-center gap-2 px-2.5 py-2 rounded-lg text-neutral-600 dark:text-neutral-300 hover:bg-white dark:hover:bg-neutral-700 transition-colors text-sm">
  Documentos Relacionados
</a> -->

  </div>
</div>
    <!-- Reportes (EXPANDIBLE) -->
  <div class="sidebar-group">
  <button type="button" (click)="toggle(reportsGroup.id)"
    class="w-full flex items-center gap-3 px-3 py-2 rounded-full text-neutral-600 dark:text-neutral-300 hover:bg-white dark:hover:bg-neutral-700 transition-colors">
    
    <span class="ph ph-files text-lg"></span>
    <span class="text-sm font-medium flex-1 text-left">Reportes</span>
    
    <span class="ph ph-caret-down text-sm transition-transform"
      [class.rotate-180]="isOpen(reportsGroup)">
    </span>
  </button>

  <div class="ml-4 mt-1 pl-3 border-l border-neutral-200 dark:border-neutral-700 space-y-1"
    [class.hidden]="!isOpen(reportsGroup)">
<a
  [routerLink]="'/reportes/remisiones'"
  routerLinkActive="bg-white text-neutral-900 dark:bg-neutral-600 dark:text-white shadow-sm"
  [routerLinkActiveOptions]="{
    paths: 'subset',
    queryParams: 'ignored',
    fragment: 'ignored',
    matrixParams: 'ignored'
  }"
  class="group flex items-center gap-3 px-3 py-2 rounded-full text-neutral-600 dark:text-neutral-300 hover:bg-white dark:hover:bg-neutral-600 transition"
>
  <span class="icon-[solar--document-text-linear] text-[18px]"></span>
  <span class="text-xs font-medium">Consulta de Remisiones</span>
</a>
  </div>
</div>
  </nav>
</div>

<!-- USER INFO -->
<div class="mt-auto pt-8 border-t border-neutral-200 dark:border-neutral-700 absolute left-0 right-0 bottom-12">
  <div class="mt-4 flex items-center gap-3 px-4">
    <div class="flex items-center gap-3 bg-white dark:bg-neutral-700 p-2 rounded-2xl w-full">
      <div class="w-10 h-10 rounded-full bg-neutral-300 dark:bg-neutral-600 flex items-center justify-center">
        <span class="ph ph-user text-xl text-neutral-700 dark:text-neutral-400"></span>
      </div>
      <div class="min-w-0 flex-1">
        <div class="text-sm font-medium text-black dark:text-white truncate">
          {{ user()?.displayName || user()?.sdeSession?.name || 'Nombre de usuario' }}
        </div>
        <div class="text-xs text-neutral-500 dark:text-neutral-400 truncate">
          {{ user()?.mail || user()?.sdeSession?.email || 'Email no especificado' }}
        </div>
      </div>
    </div>
  </div>
</div>