<div class="ion-no-border">
  <div class="px-4 py-2 bg-neutral-100 dark:bg-neutral-800 border-b border-neutral-200 dark:border-neutral-700">
    <div class="flex items-center justify-between w-full">

      <div class="flex items-center justify-start w-full">
        <!-- Derecha: botón ocultar menú -->
        <button
          class="w-12 h-12 rounded-full flex items-center justify-center hover:bg-neutral-200 dark:hover:bg-neutral-900 me-2 cursor-pointer"
          (click)="onToggle()">
          <span class="ph ph-list text-xl text-neutral-700 dark:text-neutral-400"></span>
        </button>
        <!-- Izquierda: Logo + título -->
        <div class="flex items-center">
          <h1 class="text-base font-semibold text-black dark:text-white uppercase">Comercial Ternium MX</h1>
        </div>
      </div>

      <!-- Acciones a la derecha -->
      <div class="flex items-center gap-1">
        <button (click)="toggleDarkMode()"
          class="w-12 h-12 rounded-full bg-transparent hover:bg-neutral-200 dark:hover:bg-neutral-900 flex items-center justify-center transition-transform duration-300 ease-in-out cursor-pointer"
          [ngClass]="{
        'rotate-0': !isDarkMode,
        '-rotate-[340deg]': isDarkMode
      }">
          @if (isDarkMode) {
          <span class="ph ph-moon text-xl text-neutral-500 dark:text-neutral-300"></span>
          }
          @if (!isDarkMode) {
          <span class="ph ph-sun text-xl text-neutral-500 dark:text-neutral-300"></span>
          }
        </button>

        <!-- Avatar del Usuario y Dropdown -->
        <div class="relative flex">
          <button (click)="toggleDropdown()"
            class="w-12 h-12 rounded-full bg-transparent hover:bg-neutral-200 dark:hover:bg-neutral-900 flex items-center justify-center cursor-pointer">
            <span class="ph ph-user text-xl text-neutral-500 dark:text-neutral-300"></span>
          </button>

          <!-- Dropdown -->
          @if (isOpen) {
          <div
            class="absolute right-0 z-10 mt-12 mr-4 w-[340px] origin-top-right rounded-xl shadow-xl bg-white dark:bg-neutral-900 border border-neutral-100 dark:border-neutral-800">
            <div class="p-4">
              <div class="flex items-center mt-4 mb-4">
                <!-- Imagen del usuario -->
                <div>
                  <img src="/assets/images/illustrations/avatar.svg" alt="User avatar"
                    class="w-[80px] h-auto object-cover rounded-full overflow-hidden" />
                </div>
                <!-- Nombre y puesto del usuario -->
                <div class="ml-4">
                  <h2 class="text-sm font-bold text-neutral-800 dark:text-neutral-200 truncate w-[230px]">
                    {{ user?.displayName || 'Nombre de usuario' }}
                  </h2>
                  <p class="text-sm text-neutral-500 dark:text-neutral-400">
                    {{ user?.mail || 'Email no especificado' }}
                  </p>
                </div>
              </div>
              <div class="border-t border-neutral-200 dark:border-neutral-700 mt-8 mb-6"></div>
              <!-- Opciones del menú -->
              <ul class="space-y-2">
                <li
                  class="flex items-center p-3 hover:bg-neutral-200 dark:hover:bg-neutral-700 rounded-full transition-colors duration-200"
                  role="button" (click)="logOut()">
                  <span class="ph-fill ph-sign-out text-neutral-500 dark:text-neutral-300 text-2xl mr-3"></span>
                  <span class="text-neutral-700 dark:text-neutral-300">Cerrar Sesión</span>
                </li>
              </ul>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>