<section>
    <div class="flex-container justify-content-between input-flex mb-4">
        <div class="flex-items w-100 me-3" #refAnime>
            <div class="input-icon">
                <input type="text" class="form-control" placeholder="Buscar operaciones o clientes"
                    (click)="navigateSearch()">
            </div>
        </div>
        <div class="flex-items me-2" #refAnime>
            <button type="button" class="btn btn-action search cursor-pointer" (click)="navigateSearch()">
                <span class="ph-fill ph-microphone text-primary" role="img" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</section>