<div class="drawer 2xl:drawer-open w-full">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col items-center justify-center w-full">
        <!-- Page content here -->
        <div class="min-h-screen w-full bg-neutral-100 dark:bg-neutral-900">
            <app-navbar />

            <router-outlet />

            <app-toast />
        </div>
    </div>
    <div class="drawer-side">
        <label for="my-drawer" aria-label="close sidebar cursor-pointer" class="drawer-overlay"></label>
        <ul class="menu bg-white dark:bg-black text-base-content min-h-full w-80 p-4">
            <!-- menu sidebar -->
            <app-sidebar />
        </ul>
    </div>
</div>
