<div class="relative inline-block w-full flex items-center"
  [ngClass]="{'opacity-50 cursor-not-allowed pointer-events-none': disabled}">
  <!-- Contenedor clickable -->
  <div class="block text-xs w-full py-3 px-3 cursor-pointer bg-neutral-100 dark:bg-neutral-800 rounded-xl focus:outline-none focus:ring-ternium focus:border-ternium dark:focus:border-ternium-hover dark:focus:ring-ternium-hover  appearance-none pr-10
           overflow-hidden whitespace-nowrap text-ellipsis disabled:cursor-not-allowed
           relative" (click)="toggleDropdown()">
    <span class="text-neutral-700 dark:text-neutral-300 text-xs">
      <!-- Si no hay nada seleccionado, se muestra el placeholder -->
      {{ selectedLabel || placeholder }}
    </span>
    <!-- Icono -->
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center h-full pr-3">
      <span class="text-neutral-700 dark:text-neutral-200 icon-[solar--alt-arrow-down-linear] w-4 h-4"></span>
    </div>
  </div>

  <!-- Dropdown -->
  <div *ngIf="openDropdown" class="absolute mt-1 w-full bg-white dark:bg-black border
           border-neutral-300 dark:border-neutral-600 rounded-xl z-50 shadow-lg
           max-h-[17rem] flex flex-col animate-fadeIn">
    <!-- Sección superior (buscador) -->
    <div class="p-2">
      <input [(ngModel)]="searchTerm" type="text" placeholder="Buscar..." class="w-full text-xs py-3 px-3 rounded-xl text-neutral-900 dark:text-neutral-200
               bg-neutral-100 dark:bg-neutral-900 focus:outline-none focus:ring-1 
               focus:ring-ternium" />
    </div>

    <!-- Sección central (lista), con overflow-auto -->
    <div class="flex-1 overflow-auto">
      <ul>
        <li *ngFor="let opt of filteredOptions" (click)="selectOption(opt)" class="p-4 cursor-pointer hover:bg-neutral-100 dark:hover:bg-neutral-700 
                 text-neutral-800 dark:text-neutral-200 text-xs" [ngClass]="{
            'bg-ternium/10 dark:bg-ternium/10 text-ternium dark:text-ternium-hover':
              isOptionSelected(opt)
          }">
          <span class="text-xs text-black dark:text-white font-medium">{{ opt.label || opt.name }}</span> <br>
          <span class="text-xs text-neutral-600 dark:text-neutral-300">{{ opt.value }}</span>
        </li>
        <!-- Si no hay resultados -->
        <li *ngIf="filteredOptions.length === 0" class="p-2 text-neutral-400 text-xs text-center">
          No hay resultados
        </li>
      </ul>
    </div>

    <!-- Sección inferior (botón Limpiar) -->
    <div class="border-t border-neutral-200 dark:border-neutral-700 p-2">
      <button (click)="onClearSelected()" class="w-full px-3 py-2 text-xs text-red-600 dark:text-red-500
               hover:bg-neutral-100 dark:hover:bg-neutral-900 rounded-full cursor-pointer">
        Limpiar selección
      </button>
    </div>
  </div>
</div>